.container {
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageContent {
  position: relative;
  z-index: 1;
}
